@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "DM Sans", sans-serif; */
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav img {
    width: 44px;
    height: 44px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
}

.cover a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    width: 8%;
    margin-top: 80px;
}

.cover h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 120px;
    font-weight: 400;
    margin: 0;
}

.cover h6 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.cover p {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.cover {
    display: flex;
    background: url(src/cover.png);
    background-size: cover;
    height: 80vh;
    width: 88vw;
    flex-direction: column;
    padding: 120px 111px;
    gap: 24px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.logo img {
    width: 75px;
    height: 75px;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.pin img {
    height: 24px;
    width: 24px;
}